* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
  }
  
  
  h1 {
    color: SeaGreen;
  }
  
  
  p, 
  li {
    font-size: 18px;
  }
  p.hint{
    color:azure;
    display: inline;
  }
  
  p.secret {
    color: black;
    display: inline;

  }
  a {
    text-decoration: none;
  }

  footer {
    color:aquamarine;
  }

  .quark , .quark * {
    color: green;
  }

  .lepton {
    color: orange;
  }

  .boson {
    color: yellow;
  }