* {
    background-color: paleturquoise;
    color: #12100E;
}

/*head*/

header {
position: relative;
margin-top: 100px;
z-index: 0;
}

/* navegation settings */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #03797100;
    z-index: 1;
    text-align: center; 
    line-height: 80px;
    
}
nav a {
    box-sizing: border-box;
    font-size: 50px;
    width: 49%; 
    height: 100px;
    background-color: #12100E;
    display: inline-block; 
    border-bottom: 2px solid #FF5A5F;
    border-left: 2px solid #FF5A5F;
    border-radius: 15px 50px;
    text-decoration: none; 
    color: #FF5A5F; 
    vertical-align: middle;
    /*line-height: normal;*/
}

nav a:hover {
    color: #C3D350;
    border-bottom: 2px solid #C3D350;
    border-left: 2px solid #C3D350;
}

/* table settings */

table {
    border: 5px solid #12100E;
    width: 100%;
}

table caption {
    border-top: 5px solid #12100E;
    border-left: 5px solid #12100E;
    border-right: 5px solid #12100E;
    background-color: #FF5A5F ;
    font-weight: bold;
    font-size: large;
    padding: 15px;
}

table th {
    margin: 0%;
    border-bottom: 3px solid #037971;
    border-left: 3px solid #037971;
    padding:  10px;
    background-color: #FF5A5F43;
}

table tr {
    border-bottom: 2px solid #12100E;
}

table td {
    padding: 3px ;
    border-bottom: 2px solid #12100E;
    border-left: 2px solid #12100E;
    background-color: #C1839F43;
}

/*code style*/

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #03797177;
}
/*css section*/
#css {
    background-color: #582256;
}

#css h2 {
    color:#582256;
}


#css table th {
    border-bottom: 3px solid #582256;
    border-left: 3px solid #582256;
}
/*html section*/
#html {
    background-color: #037971;
}

#html h2 {
    color:#037971;
}

#html table th {
    border-bottom: 3px solid #037971;
    border-left: 3px solid #037971;
}

/*footer*/
footer {
    height: 200px;
    width: 100%;
    background-color: #12100E;
    text-align: center;
}

footer p {
    background-color: #12100E;
    color: #FF5A5F;
    font-size: 30px;
}