* {
    background-color: paleturquoise;
    color: #12100E;
}

/*head*/

header {
position: relative;
margin-top: 100px;
z-index: 0;
}

/* navegation settings */

nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #037971;
    z-index: 1;
}
nav a {
    width: 300px;
    height: 100px;
    background-color: #037971;
    display: inline-block;
    box-sizing: border-box;
    align-items: center;
    

}

/* table settings */

table {
    border: 5px solid #12100E;
    width: 100%;
}

table caption {
    border-top: 5px solid #12100E;
    border-left: 5px solid #12100E;
    border-right: 5px solid #12100E;
    background-color: #FF5A5F ;
    font-weight: bold;
    font-size: large;
    padding: 15px;
}

table th {
    margin: 0%;
    border-bottom: 3px solid #037971;
    border-left: 3px solid #037971;
    padding:  10px;
    background-color: #FF5A5F43;
}

table tr {
    border-bottom: 2px solid #12100E;
}

table td {
    padding: 3px ;
    border-bottom: 2px solid #12100E;
    border-left: 2px solid #12100E;
    background-color: #C1839F43;
}

