* {
    background-color: paleturquoise;
    color: #12100E;
}

/* table settings */

table {
    border: 5px solid #12100E;
    width: 100%;
}

table caption {
    background-color: #FF5A5F ;
    font-weight: bold;
    font-size: large;
    padding: 15px;
}

table th {
    margin: 0%;
    border-bottom: 3px solid #037971;
    border-left: 3px solid #037971;
    padding:  10px;
    background-color: #FF5A5F43;
}

table tr {
    border-bottom: 2px solid #12100E;
}

table td {
    padding: 3px ;
    border-bottom: 2px solid #12100E;
    border-left: 2px solid #12100E;
    background-color: #C1839F43;
}

