
/*general properties*/
html {
    font-size: 1em;
    background-color: #292538;
    color: #FBFAFA;
}

h1 {
    font-size: 2.125rem;
    font-family: "Roboto";   
}

button {
    padding: 3rem;
    background-color: #F0803C;
    color: #FBFAFA;
    border-radius: 15px;
}
/*navegation*/
nav {
    z-index: 10;
    border-radius:0 0 15px 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    align-items: center;
    background-color:#CE2558;
    box-shadow: rgba(56, 29, 42, 0.25);
    width: 100%;
    height: 4.5rem;
}

nav h1 {
    background-color:#CE2558;
    color: #F0803C;
    margin-left: 4rem;
    text-shadow: 2px 2px 5px rgba(56, 29, 42, 0.75);
}

li {
    list-style: none;
}

nav ul {
    display: flex;
    margin: 1rem;
    justify-content: space-around;
    background-color:#CE2558;
}

nav a {
    padding:0.5rem;
    text-decoration: none;
    background-color:#CE2558;
}

/*body -> main*/
main {
    position:relative;
    grid-template-rows: 25.5rem repeat(3,1fr);
    grid-template-columns: 1fr;
    display: grid;
    top:5rem;
}
section {
    padding: 1rem;
}


/*main content*/
section#main-content {
    grid-row: 1/span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}


#main-content img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    filter: brightness(1.8) contrast(0.70);

}


/*main product*/
section#main-product {
    grid-row: 2/ span 1;
    grid-column:1/ span 1;
}


/*container properties*/
div.container {
    background-color: #FBFAFA ;
    border-radius: 15px;
    box-shadow: 10px 10px #F0803C;
} 
 div.text.container {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
}

div.text.container h1 {
    width: 80%;
    color:#CE2558;
    text-shadow: 2px 2px 5px #292538;
    font-size: 4rem;
    text-align: center;
}

 div.container.img {
    width:60%;
    height: 100%;
    box-shadow: none;
}